{
    "delay_seconds": 60,
    "heater": {
        "pin": 17
    },
    "inside": {
        "temp_adj": 0,
        "serial": null
    },
    "outside": {
        "temp_adj": 0,
        "serial": null
    }
    "thinger": {
        "user": "thinger_username",
        "bucket_id": "thinger_bucket_id",
        "auth_key": "thinger_auth_key"
    }
}
