{
    "delay_seconds": 60,
    "heater": {
        "pin": 17
    },
    "inside": {
        "temp_adj": 0,
        "serial": null
    },
    "outside": {
        "temp_adj": 0,
        "serial": null
    },
    "thinger": {
        "user": "thinger_username",
        "bucket_id": "thinger_bucket_id",
        "auth_key": "thinger_auth_key"
    },
    "schedule": {
        "0": 16.0,
        "1": 16.0,
        "2": 16.0,
        "3": 16.0,
        "4": 16.0,
        "5": 16.0,
        "6": 20.0,
        "7": 20.0,
        "8": 20.0,
        "9": 20.0,
        "10": 20.0,
        "11": 20.0,
        "12": 20.0,
        "13": 20.0,
        "14": 20.0,
        "15": 20.0,
        "16": 20.0,
        "17": 20.0,
        "18": 16.0,
        "19": 16.0,
        "20": 16.0,
        "21": 16.0,
        "22": 16.0,
        "23": 16.0
    }
}
